---
import CourseCard from "./CourseCard.astro";
const allCourses = await Astro.glob('../pages/courses/*.md')
---

<div id="courses" class="courses">
  <div class="container">
    <h2>Our Courses</h2>
    <ul role="list" class="course-list">
      { allCourses.map(course => <div class="card"><CourseCard coursePreview={course.frontmatter.image} name={course.frontmatter.name} lectures={course.frontmatter.lectures} learners={course.frontmatter.learners} authorName={course.frontmatter.authorName} authorPhoto={course.frontmatter.authorPhoto} price={course.frontmatter.price} url={course.url}/></div>) }
    </ul>
  </div>
</div>

<style>
  .courses {
    background-color: var(--accent-light);
    padding: 5rem 0;
  }
  h2 {
    color: #242323;
    font-size: 3.625rem;
  }
  .course-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-top: 7rem;
  }
  .course-list > :nth-child(3n-1) {
    transform: translateY(-3.5rem);
  }
  @media (max-width: 80em) {
    .course-list > :nth-child(3n-1) {
      transform: none;
    }
    .course-list {
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
  }
</style>