---
const {frontmatter} = Astro.props
import Layout from "./Layout.astro";
---

<Layout type="secondary" title={frontmatter.name}>
  <div class="container">
    <div class="card">
      <div class="frame">
        <img class="course-image" src={frontmatter.image} alt="">
      </div>
      <div class="course-numbers">
        <div class="amount lectures-amount">
          <img src="/play.png" alt="">
          <p>{frontmatter.lectures} Lectures</p>
        </div>
        <div class="amount learners-amount">
          <img src="/learner.svg" alt="">
          <p>{frontmatter.learners} Learners</p>
        </div>
      </div>
      <div class="splitter"></div>
      <div class="course-author">
        <div class="avatar-frame">
          <img class="author-avatar" src={frontmatter.authorPhoto} alt="">
        </div>
        <h3 class="author-name">{frontmatter.authorName}</h3>
        <div class="author-course-price">${frontmatter.price}</div>
      </div>
    </div>
    <h1>{frontmatter.name}</h1>
    <slot />
  </div>
</Layout>

<style>
  .container {
    padding-top: 2rem;
  }
  .card {
    float: right;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .frame, .avatar-frame {
  border-radius: 1rem;
  --n: 449;
  --d: 285;
  aspect-ratio: var(--n) / var(--d);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame {
  max-width: 30rem;    
}
.avatar-frame {
  --n: 1;
  --d: 1;
  border-radius: 100%;
  height: 4.25rem;
}

.frame > img, .avatar-frame > img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

  h1 {
    color: #242323;
    font-weight: 600;
    font-size: 1.875rem;
  }
  .course-numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}
.course-numbers .amount {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.course-numbers p {
  white-space: nowrap;
  color: #575859;
  font-weight: 600;
  font-size: 1.25rem;
}
.splitter {
  height: 1px;
  background: rgba(38, 142, 170, 0.50);
  margin: 1.4rem 0;
}
.course-author {
  display: flex;
  align-items: center;
}
.author-name {
  margin-left: 1rem;
  color: #242323;
  font-size: 1.25rem;
  font-weight: 700;
}
.author-course-price {
  margin-left: auto;
  color: #4C68FF;
  font-size: 2.125rem;
  font-weight: 700;
}
</style>